h1 {
    font-family: 'Times New Roman', Times, serif;

    font-size: 40px;

    font-weight: bold;

    text-align: center;

    text-decoration: underline;
}

h2 {
    font-family: 'Times New Roman', Times, serif;

    font-size: 22px;

    font-weight: bold;
}

h3 {
    font-family: 'Times New Roman', Times, serif;

    font-size: 27px;

    font-weight: bold;
}